* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background-color: #1E172F;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 10px 15px 0px 15px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 20px;
}
nav ul li a:hover{
    color: white;
}
nav img{
    border: none;
 }
.but1{
    padding: 20px 30px;
    font-size: 20px;
    background: linear-gradient(45deg,purple, blue);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.sec1{
    display: flex;
    height: 90vh;
    background-color: rgb(52, 28, 88);
    color: white;
    align-items: center;
    justify-content: space-between;
}
.sec1 h1{
    font-size: 90px;
    margin: 35px 0px;
}
.text{
    margin: 0px 0px 0px 200px;
}
.iz{
    width: 38%;
    margin: 0px 0px 0px 12vh;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    background:linear-gradient(#3424596b,#3424596b),
    url(/images/Fondo.jpeg);
    background-size: cover;
   width: 90vh;
   height: 100%;    
 
}
.phone img{
    width: 38vh;
    height: 75vh;
}

.txtmid{
    font-size: 24px;
    margin: 30px 0px;
}
.botons{
    display: flex;
    border-radius: 10px;
    border: solid rgb(119, 119, 119) 1px;
    padding: 5px;
    width: 340px;
    justify-content: space-around;
}
.bt1{
    width: 180px;
    padding: 10px;
    color: rgb(255, 0, 204);
    cursor: pointer;
    border-radius: 5px;
    border: solid white 1px;
    font-size: 15px;
}
.bt1:hover{
    background-color: transparent;
    color: white;
}
.bt2{
    width:140px ;
    border: solid 1px rgb(221, 221, 221);
    padding: 10px;
    background-color: rgb(52, 28, 88);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}
.bt2:hover{
    background-color: #F1F2F7;
    color: #1E172F;
}
.sec2{
    text-align: center;
    height: 55vh;
    background-color: #F1F2F7;
}
.lapt{
    width: 450px;
    height: 280px;
}
.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(225, 0, 180);
    height: 12vh;
    font-size: 50px;
}
.mid{
    display: flex;
    justify-content: center;
}
.ofert{
    width: 62vh;
    text-align: start;
    line-height: 30px;
    margin: 0px 0px 0px 100px;
}
.t2{
    color: rgb(225, 0, 180);
    margin: 10px 0px 35px 0px;
    font-size: 35px;
}
.color{
    color: rgb(225, 0, 180);
    font-size: 20px;
    margin: 30px 0px;
}
.sec3{
    text-align: center;
    height: 100vh;
    background-color: rgb(40, 21, 67);
    color: white;
    padding: 50px 150px;
}
.top{
    padding: 0px 300px;
    height: 20vh;
}
.plans{
    font-size: 45px;
    margin: 0px 0px 30px 0px;
}
.texttop{
    color: rgb(209, 209, 209);
}
.oferts{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    color: black;
}
.oferts ul li {
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    width: 100%;
}
#ofertas{
    height: 65vh;
    width: 40vh;
    background-color: white;
    border-radius: 10px;
}
.medio{
    margin: 0px 50px;
}
#ofertas .suscribe:hover{
    background: linear-gradient(60deg,rgb(255, 49, 145) 3%, rgb(255, 38, 154)/*97%*/);
}
.precio{
    justify-content: center;
    display: flex;
    height: 8vh;
    background-color: rgb(235, 235, 235);
    align-items: center;
    font-size: 30px;
    margin: 20px 0px;
}
.peque{
    font-size: 20px;
    color: rgb(138, 138, 138);
    margin: -20px 0px 0px 0px;
}
.minImg{
    width: 30px;
    height: 25px;
}
.txt2{
    padding: 0px 30px;
    margin: 10px 0px;
}
.suscribe{
    margin: 10px 0px;
    padding: 15px 35px;
    border: none;
    background-color: rgb(40, 21, 67);
    border-radius: 5px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.susc{
    margin: 60px 0px 0px 0px;
    background-color: rgb(235, 235, 235);
    height: 8vh;
    border-radius: 0px 0px 10px 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding:0px 250px;
}
.changeColor{
    color: rgb(225, 0, 180);
}
.icon{
    width: 25px;
    height: 25px;
    margin: -5px 0px;
}


@media screen and (max-width:992px){

    #principal{
        width: 992px;
       margin: 0;
       padding: 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    nav ul li a{
        font-size: 28px;
    }
    nav{
        width:992px;
    }
    .phone{
        display: none;
    }
    .text{
        margin: 0;
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .sec1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 992px;
        background-image:linear-gradient(#3424596b,#3424596b), url(/images/Fondo.jpeg);
        background-size: cover;
    }
    .iz{
        margin: 0;
        width: 50%;
    }
    .sec1 h1{
        font-size: 120px;
        color: rgb(255, 255, 255);
    }
    .botons {
        display: flex;
        flex-flow: column nowrap;
        height: 15vh;
    }
    .bt1{
        background-color: #1e172fa4 ;
        width: 100%;
        font-size: 30px;
        color: white;
        border-radius: 13px;
        height: 7vh;
    }
    .bt2{
        background-color: #1e172fa4 ;
        width: 100%;
        font-size: 30px;
        border-radius: 13px;
        height: 7vh;
       }
    .txtmid{
        color: rgba(255, 255, 255, 0.588);
        font-size: 35px ;
        margin: 30px 0px;
    }
    .sec2{
        width: 992px;
        height: 50vh;
    }
    .ofert{
        margin: 0;
    }
    .sec3{
        width: 992px;
        padding: 20px;
        height: 73vh;
    }
    .texttop{
        font-size: 25px;
    }
    #ofertas{
        margin: 0px 15px;   
        width:50vh;
        height: 43vh;
        font-size: 15px;
    }
    .susc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .top{
        width: 90%;
        padding: 0px;
        margin: 40px;
        height: 20vh;
    }
    .oferts ul li {
        line-height: 20px;
    }
    .txt2{
        font-size: 15px;
        margin: 25px 0px ;
    }
   
}

@media screen and (max-width:768px){
    #principal{
        width: 768px;
       margin: 0;
       padding: 0;
       /* display: flex;
       flex-flow: column wrap;
       align-items: center; */
    }
    nav{
        width: 768px;
        height: 15vh;
        display: flex;
        flex-flow: column nowrap;
    }
    nav img {
        width: 20vh;
    }
    nav ul li a{
        font-size: 28px;
    }
    .phone{
        display: none;
    }
    .text{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    
    .sec1{
        margin: 0px;
        width: 768px;
        background-image:linear-gradient(#342459d7,#3424596b), url(/images/Fondo.jpeg);
    }
    .sec1 h1{
        font-size: 120px;
        color: rgb(255, 255, 255);
    }
    .txtmid{
        color: rgba(255, 255, 255, 0.588);
        font-size: 35px ;
        margin: 30px 0px;
    }
    .botons {
        display: flex;
        flex-flow: column nowrap;
        height: 10vh;
    }
    .bt1{
        background-color: #1e172fa4 ;
        width: 100%;
        font-size: 30px;
        color: white;
        border-radius: 13px;
        
    }
    .bt2{
        background-color: #1e172fa4 ;
        width: 100%;
        font-size: 30px;
        border-radius: 13px;
       }
    .iz{
        margin: 0;
        width: 50%;
    }
    .sec2{
        width: 768px;
        height: 75vh;
    }
    .ofert{
        width: 70%;
        text-align: center;
        font-size: 25px;
    }
    .mid{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .sec3{
        width: 768px;
        height: 164%; 
    }
    .texttop{
        font-size: 30px;
    }
    .top{
        width: 90%;
        height: 33vh;
    }
    .oferts{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 140vh;
    }
    #ofertas ul li a{
        line-height: 20px;
    }
    #ofertas{
        margin: 20px 27px;   
        width:40vh;
        height: 65vh;
        font-size: 25px;
    }
    .susc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .txt2{
        font-size: 15px;
        margin: 25px 0px ;
    }
  
   footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 25px;
    width: 768px;
    padding: 0px 30px;
    height: 8vh;
   }
}

@media screen and (max-width:1200px){
    
}